html,
body {
    overflow: hidden !important;
    height: 100dvh;
    width: 100dvw;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(var(--v-theme-accent), 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--v-theme-accent), 0);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--v-theme-accent), 1);
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: rgba(var(--v-theme-accent), 0.1);
}

/* Firefox Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--v-theme-accent), 0.6) rgba(var(--v-theme-accent), 0);
}

.cesium-viewer-bottom {
    justify-content: end;
    align-items: end;
    display: flex;
}